#app {
    text-align: center;
    background-color: rgb(223, 224, 224);
    width: 800px;
    margin: auto;
}

.characters {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.item img {
    width: 200px;
}